---
import Header from '../components/Header.astro'
import Base from '../layout/Base.astro'
import Footer from '../components/Footer.astro'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Accueil</title>
	</head>
	<body>
		<Base titre="Accueil">
			<h1 class="text-6xl flex justify-center text-white">Accueil</h1> 
		</Base>
	</body>
</html>