---
import Header from '../components/Header.astro'
import Base from '../layout/Base.astro'
import Footer from '../components/Footer.astro'
import Card from '../components/Card.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> Offres</title>
	</head>
	<body>
		<Base titre="Accueil">
            <h1 class="text-white text-6xl flex justify-center ">Offres</h1> 
			<Card/>
        </Base>
	</body>
</html>

