---
import Header from '../../components/Header.astro';
import Base from '../../layout/Base.astro';
import Footer from '../../components/Footer.astro';
import Card from '../../components/Card.astro';

import {getOffres} from '../../backend.mjs'

const offres = await getOffres();

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> Offres</title>
	</head>
	<body>
		<Base titre="Accueil">
            <h1 class="text-white text-6xl flex justify-center ">Offres</h1> 
			<div x-data="{ showFavorites: false }" class="p-4">
				<button 
					@click="showFavorites = !showFavorites" 
					class="bg-blue-600 text-white px-4 py-2 rounded shadow hover:bg-blue-700"
				>
					<span x-show="!showFavorites">Afficher les favoris</span>
					<span x-show="showFavorites">Afficher tout</span>
				</button>
		
				<div x-show="!showFavorites" class="flex flex-wrap justify-center mt-4">
					{offres?.map((offre) => (
						<Card {...offre} />
					))}
				</div>
		
				<div x-show="showFavorites" class="flex flex-wrap justify-center mt-4">
					{offres?.filter(offre => offre.favori).map((offre) => (
                        <Card {...offre} />
                    ))}
                    
				</div>
			</div>
			
        </Base>
	</body>
</html>

